* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

canvas {
    width: 100dvw;
    position: absolute;
    left: 0;
    top: 0;
}

input {
    position: absolute;
}

@font-face {
    font-family: 'Candela';
    src: url('fonts/Candela/CandelaBook.otf') format('truetype');
}
